<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		{% block head %}
		{% endblock %}
		<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<header>
			<nav class="navbar">
			    <a href="/" class="nav-logo">
			      <!-- <span class="nav-logo-dot"></span> -->
			      <img src="{{ url_for('static', filename='constrasted/logo-c-1024.png') }}" width="50" height="50">
			      {% if session['room'] %}[{{ session['room'] }}] {% endif %}
			    </a>

			    <ul class="nav-links">
			      <li><a href="/game" class="nav-link {% if request.path == '/game' %}active{% endif %}">Game</a></li>
			      {% if session['room'] %}
			      	<li><a id="quit-btn" href="#" class="nav-link">Quit</a></li>
			      {% else %}
			      	<li><a href="/join" class="nav-link {% if request.path == '/join' %}active{% endif %}">Join</a></li>
			      {% endif %}
			      <li><a href="/chat" class="nav-link {% if request.path == '/chat' %}active{% endif %}">Chat</a></li>

			    </ul>
			    <div class="nav-right">
			    	{% if session['user_id'] %}
				    	<span class="nav-username">{{ session['username'] }}</span>
				    	<a href="/logout" class="nav-btn">Logout</a>
				    {% else %}
				    	<a href="/login" class="nav-btn">Login</a>
				    {% endif %}
			    </div>
			    
			    
			  </nav>
		</header>
		<content>
			{% block content %}
			{% endblock %}
		</content>
		
	</body>
</html>
