{% extends "base.html" %}

{% block title %}
	Room
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/chat.css')}}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<script>
	    var socket = io();
	    socket.on('connect', () => {
	        socket.emit('join', { room_code: "{{ room_code }}" });
	    });

	    

		socket.on('left_room', () => {
		    window.location.href = '/quit_room';
		});

		socket.on('message', (data) => {
			alert(data.message)
		})

		socket.on('recieve_message', (data) => {
			let com_box = document.getElementById("com-box");
			let new_node = document.createElement("div")

			let span_username = document.createElement("span")
			let span_message = document.createElement("span")


			span_username.textContent = data['user']
			span_username.classList.add('username')

			span_message.textContent = data['message']
			span_message.classList.add('msg-content')

			new_node.appendChild(span_username)
			new_node.appendChild(span_message)

			com_box.appendChild(new_node)

			com_box.scrollTop = com_box.scrollHeight

			if (!document.getElementById('chat-panel').classList.contains('open')){
				document.getElementById('chat-badge').classList.add("visible")
			};
		})

		function send_message(){
			let msg_input = document.getElementById("msg");
			let msg_content = msg_input.value;
			msg_input.value = "";
			socket.emit('send_message', {'message': msg_content});
		}

		socket.on('hand', (hand) => {
		    console.log(hand); // ta main reçue du serveur
		    // mets à jour ton affichage ici
		});

		document.addEventListener('DOMContentLoaded', () => {
		    document.getElementById('quit-btn').addEventListener('click', () => {
			    socket.emit('leave');
			});

			

			document.getElementById('chat-toggle').addEventListener('click', () => {
			    document.getElementById('chat-panel').classList.toggle('open');
			    if (document.getElementById('chat-panel').classList.contains('open')){
					document.getElementById('chat-badge').classList.remove("visible")
				};
			});

			document.getElementById('msg-btn').addEventListener('click', () => {
				send_message();
			});

			document.getElementById('msg').addEventListener('keydown', (e) => {
			    if (e.key === 'Enter') {
			        send_message();
			    }
			});

			socket.emit("ask_hand");
		});
	</script>
{% endblock %}

{% block content %}

	<div>
		Display card
	</div>
	<div id="chat-panel">
	    <button id="chat-toggle">
	    	Chat
	    	<span id="chat-badge" class="badge"></span>
	    </button>
	    <div id="com-box"></div>
	    <div class="chat-input">
	        <input type="text" id="msg" placeholder="Message ..." autocomplete="off">
	        <button id="msg-btn" type="submit">Send</button>
	    </div>
	</div>
{% endblock %}